<div  class="container-table">
    <table>
        <tr>
            <th class="colum-image"></th>
            <th class="colum-producto">Producto</th>
            <th class="colum-price">Precio</th>
            <th></th>
            <th class="colum-quantity">Cantidad</th>
            <th></th>
        </tr>
        <tr *ngFor ="let productSelect  of products">
            <th class="colum-image">
                <img src={{productSelect.image}}>
            </th>
            <th class="colum-producto">{{productSelect.title}}</th>
            <th class="colum-price">${{productSelect.price}}</th>
            <th class="colum-plus">
              <button class="button-plus" (click)="incrementCant(productSelect.quantity)">+</button>
            </th>
            <th class="colum-quantity">{{productSelect.quantity}}</th>
            <th class="colum-minus">
              <button class="button-minus">-</button>
            </th>
        </tr>
    </table>

</div>
