.container-table{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: calc(100vh - 10.39vh); */
    width: 100wh;
    padding: 60px;

}
table{
    border: solid 2px #8D72E1;
    border-radius: 5px;
    width: 1000px;
    padding: 10px;
}

table th{
    width: 16.7%;
}

table tr::nth-child(2){
  height: 30px;
}

table th:nth-child(3){
  width:6%;
}
table th:nth-child(4){
  width:3%;
}
table th:nth-child(5){
  width:4%;
}
table th:nth-child(6){
  width:3%;
}
table th:nth-child(7){
  width:6%;
}
table th:nth-child(8){
  width:10%;
}

.row-head {
  background-color: #ECF2FF;
  /* border: solid 10px #393053;  */
}
.row-head th{
  height: 40px;
}



table th button{
  background-color: white;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border:none;
  border-radius: 5px; 
  font-size: 25px;
  color: black;
}

.colum-image img{
    width: 50%;
    height: 40%;
    border-radius: 10px;
}
.button-plus img{
  height: 100%;
  width: 100%;
}
.button-minus img {
  height: 100%;
  width: 100%;
}
.button-delete-item{
  background-color: white;
  border: none;
}

.button-delete-item img{
  height: 100%;
  width: 100%;
}
