header{
    background-color: #301E67;
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    padding: 0 50px;
    font-family: 'Catamaran', sans-serif;
    color: white;

}

header picture{
    /* background-color: aqua; */
    height: 85px;
    width: 90px;
}
header picture img{
    height: 100%;
    width: 100%;
    border-radius: 50px;

}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    font-size: 20px;
}
.navbar-opcion{
  background-color:#301E67 ;
  cursor: pointer;
  height: 90px;
 
}
.navbar-opcion:hover {
  background-color: #E5D1FA;
  
}

.navbar-cart{
    position: relative;
}
.icono_cart{
  position: absolute;
  top: 20px;
  right: 50px;

  border-radius: 50%;
  background-color: #8D72E1;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lila{
  background-color: #8D72E1;
  height: 90px;
}

.icono_cart_select{
  background-color: #301E67;
  position: absolute;
  top: 20px;
  right: 50px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}