header{
    background-color: #301E67;
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    padding: 0 50px;
    font-family: 'Catamaran', sans-serif;
    color: white;

}

header picture{
    /* background-color: aqua; */
    height: 85px;
    width: 90px;
}
header picture img{
    height: 100%;
    width: 100%;
    border-radius: 50px;

}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0;
    padding: 0; */
}
li{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    font-size: 20px;
}
.navbar-opcion{
  /* background-color: aqua; */
  cursor: pointer;
  height: 90px;
  border-color: aqua;
}
.navbar-opcion:hover {
  background-color: #8D72E1;
}

.navbar-cart{
    position: relative;
  }
  .navbar-cart div{
    position: absolute;
    top: 20px;
      right: 50px;

      border-radius: 50%;
      background-color: #8D72E1;
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
