<header>
    <picture>
        <img src="../../../assets/logo.jpg">
    </picture>
    <nav>
        <ul>
            <li>Joselyn Condori Cabrera</li>
            <li routerLink="/menu"  [ngClass]="style_li_menu" (click)="activeMenu()">Menu</li>
            <li routerLink="/cart" [ngClass]="style_li_cart" (click)="activeCart()">Orden
                <div [ngClass]="style_icono_cart">{{qty}}</div>
            </li>
            <li routerLink="/login"class ="navbar-opcion">Login</li>
        </ul>
    </nav>

</header>
