<div class="container-form-product">

  <form class="form-product" (ngSubmit)="updateProduct()">
      <h1>Modificar Producto</h1>
      <div>
          <label for="title">TITLE:</label>
          <input name="title" type="text" [(ngModel)]="product.title" placeholder="....">
      </div>
      <div>
          <label for="price">PRICE:</label>
          <input name="price" type="text" [(ngModel)] = "product.price" placeholder="$ 0.0">
      </div>
      <div class="image-product">
        <img src="{{product.image}}">
      </div>

      <div>
        <img  src="../../../assets/subir.png" class="logo-upload">
        <button (click)="changeImage()" type="button" class="button-upload-image">Subir Imagen</button>
      </div>

      <button class ="button-add-product" type="submit">Actualizar</button>
  </form>
</div>
