<div class="container-form-product">

    <form class="form-product" (ngSubmit)="saveNewProduct()">
        <h1>Nuevo Producto</h1>
        <div>
            <label for="title">TITLE:</label>
            <input name="title" type="text"  required [(ngModel)]="product.title">
        </div>
        <div>
            <label for="price">PRICE:</label>
            <input name="price" type="text" [(ngModel)]="product.price">
        </div>
        <div class ="container-img-product">
            <img src={{url_img}}>
        </div>

        <div>
          <img  src="../../../assets/upload.png" class="logo-upload">
          <button (click)="changeImage()" type="button" class="button-upload-image">Subir Imagen</button>
        </div>

        <button class ="button-add-product" type="submit">Guardar</button>
    </form>
</div>
