.container-menu-admin{
    /* background-color: blanchedalmond; */
    /* height: 100vh; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px;
}
table{
    border: solid 2px rebeccapurple;
    border-radius: 5px;
    width: 1000px;
}
table th{
    width: 20%;
}
table tr{
    height: 20px;
}
/* */
/* table th::nth-child(1){
    width: 20%;
}
table th::nth-child(2){
    width: 20%;

}
table th::nth-child(3){
    width: 20%;
}
table th::nth-child(4){
    width: 20%;
}
table th::nth-child(5){
    width: 20%;
} */

table th::nth-child(5){
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blue;
}

.row-head th{
    height: 40px;
}
.row-head{
    border: solid 10px #393053; 
    background-color:#ECF2FF;
}

.row-body th{
    height: 100px;
}
.colum-image img{
    width: 60%;
    height: 90%;
}
.button-delete {
    height: 30%;
    width: 30%;
}
.button-update {
    height: 30%;
    width: 30%;

}

