.container-menu-admin{
    width: 100wh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.button-new-product{
    margin-bottom: 60px;
    height: 40px;
    width: 40%;
    border-radius: 10px;
    border: none;
    background-color: #301E67;
    color: white;
    cursor: pointer;
    font-size: 18px;
}
table{
    border: solid 2px rebeccapurple;
    border-radius: 5px;
    width: 1200px;
    padding: 25px;
}

table tr{
    height: 20px;
}

table th:nth-child(1){
    width: 5%;
    
}
table th:nth-child(2){
    width: 15%;
}

table th:nth-child(3){
    width: 40%;
}
table th:nth-child(4){
    width: 15%;
}

table th:nth-child(5){
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.row-head th{
    height: 40px;
}
.row-head{
    border: solid 10px #393053; 
    background-color:#ECF2FF;
}

.row-body th{
    height: 100px;
}
.colum-image img{
    width: 60%;
    height: 90%;
}
.button-delete {
    height: 35%;
    width: 38%;
    background-color: #d33;
    border: none;
    border-radius: 7px;
    color: white;
    cursor: pointer;
}
.button-update {
    height: 35%;
    width: 38%;
    background-color: #3085d6;
    border: none;
    border-radius: 7px;
    color: white;
    cursor:pointer;

}

