<router-outlet></router-outlet>
<div class="container-products">
    <div class="product" *ngFor="let product of products" >
        <img src={{product.image}}>
        <div class="info-button-product">
            <div class="info-product">
                <p>{{product.title}}</p>
                <p>${{product.price}}</p>
            </div>
            <button (click)="addProduct(product)">
                <img src="../../../assets/addCart.png">
            </button>
        </div>

    </div>
</div>
