<div class="container-products">
    <div class="product" *ngFor="let product of products" >
        <img src="../../../assets/descarga .png">
        <div class="info-button-product">
            <div class="info-product">
                <p></p>
                <p>nombre-producto</p>
            </div>
            <button (click)="addProduct()">
                <img src="../../../assets/carrito-de-compras.png">
            </button>
        </div>
        
    </div>
    <!-- <div class="product">
        <img src="../../../assets/descarga .png">
        <div class="info-button-product">
            <div class="info-product">
                <p>precio</p>
                <p>nombre-producto</p>
            </div>
            <button (click)="addProduct()">
                <img src="../../../assets/carrito-de-compras.png">
            </button>
        </div>
        
    </div>

    <div class="product">
        <img src="../../../assets/descarga .png">
        <div class="info-button-product">
            <div class="info-product">
                <p>precio</p>
                <p>nombre-producto</p>
            </div>
            <button (click)="addProduct()">
                <img src="../../../assets/carrito-de-compras.png">
            </button>
        </div>
        
    </div>

    <div class="product">
        <img src="../../../assets/descarga .png">
        <div class="info-button-product">
            <div class="info-product">
                <p>precio</p>
                <p>nombre-producto</p>
            </div>
            <button (click)="addProduct()">
                <img src="../../../assets/carrito-de-compras.png">
            </button>
        </div>
        
    </div>

    <div class="product">
        <img src="../../../assets/descarga .png">
        <div class="info-button-product">
            <div class="info-product">
                <p>precio</p>
                <p>nombre-producto</p>
            </div>
            <button (click)="addProduct()">
                <img src="../../../assets/carrito-de-compras.png">
            </button>
        </div>
        
    </div>

    <div class="product">
        <img src="../../../assets/descarga .png">
        <div class="info-button-product">
            <div class="info-product">
                <p>precio</p>
                <p>nombre-producto</p>
            </div>
            <button (click)="addProduct()">
                <img src="../../../assets/carrito-de-compras.png">
            </button>
        </div>
        
    </div>

    <div class="product">
        <img src="../../../assets/descarga .png">
        <div class="info-button-product">
            <div class="info-product">
                <p>precio</p>
                <p>nombre-producto</p>
            </div>
            <button (click)="addProduct()">
                <img src="../../../assets/carrito-de-compras.png">
            </button>
        </div>
        
    </div>

    <div class="product">
        <img src="../../../assets/descarga .png">
        <div class="info-button-product">
            <div class="info-product">
                <p>precio</p>
                <p>nombre-producto</p>
            </div>
            <button (click)="addProduct()">
                <img src="../../../assets/carrito-de-compras.png">
            </button>
        </div>
        
    </div> -->
    
</div>
